@import "./style/authForm.scss";
@import "./style//allUsersPage.scss";

$themeColor: #f7e1cf48;
$headerHeight: 90px;
$navbarWidth: fit-content;
$borderColor: rgba(0, 0, 0, 0.150);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1E1E1E;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $themeColor;
}

html, body, #root { 
  min-height: 100%; 
}

.img {
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-right: 15px;

  &-panel {
    margin-bottom: 10px;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
}

.user-page__title {
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  padding-top: $headerHeight;
  max-width: 1124px;
  height: 100vh;
  margin: 0 auto;
  border-right: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  background-color: #fff;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  width: 100vw;
  height: $headerHeight;
  border-bottom: 1px solid $borderColor;
  background: #fff;


  &__logo {
    max-width: 190px;
  }

  &__user-block {
    width: 100%;
    padding-right: 8%;
    text-align: end;
  }

  &__user {
    display: inline;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
  }

  &__user:hover {
    border-bottom: 1px solid $borderColor;
  }

  &__btn-block {
    min-width: 100px;
  }

  &__btn {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background: $themeColor;
    cursor: pointer;
  }

  &__btn:hover {
    padding: 9px 12px;
  }
}

.navbar {
  margin-top: 25vh;
  width: $navbarWidth;

  & a {
    text-decoration: none;
    display: list-item;
  }

  &__list {
    list-style: none;
    background: linear-gradient(89deg, $themeColor, #f7e1cf);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 50%);
    font-size: 20px;
    padding: 5px 12px 5px 5px;
    border: 1px solid $borderColor;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__item {
    cursor: pointer;
    white-space: nowrap;
    line-height: 36px;
  }

  &__item:hover {
    color: #af4b4b;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $borderColor;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  width: 796px;

  &__period {
    display: flex;
  }

  &__table {
    max-width: 100%;
    overflow: auto;
    margin: 0 auto;
  }
}

table {
  border-collapse: collapse;

}

td {
  padding: 3px;
  border: 1px solid $borderColor;
}